<?xml version="1.0"?>

<robot name="ur10e_cylinder">

  <!-- ================================================= -->
  <!-- WORLD -->
  <!-- ================================================= -->

  <link name="world"/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.6" rpy="0 0 4.71239"/>
  </joint>

  <!-- ================================================= -->
  <!-- MATERIALS -->
  <!-- ================================================= -->

  <material name="grey">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>

  <material name="green">
    <color rgba="0.1 0.8 0.1 1.0"/>
  </material>

  <material name="yellow">
    <color rgba="1.0 0.9 0.1 1.0"/>
  </material>

  <material name="black">
    <color rgba="0.05 0.05 0.05 1.0"/>
  </material>

  <material name="plant_green">
    <color rgba="0.0 0.6 0.0 1.0"/>
  </material>

  <material name="leaf">
    <color rgba="1.0 0.45 0.0 1.0"/>
  </material>

  <!-- ================================================= -->
  <!-- ROBOT ARM -->
  <!-- ================================================= -->

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.18" radius="0.06"/>
      </geometry>
      <origin xyz="0 0 0.09"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.18" radius="0.06"/>
      </geometry>
      <origin xyz="0 0 0.09"/>
    </collision>
  </link>

  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.127"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0" lower="0.0" upper="3.14"/>
  </joint>

  <link name="link1">
    <visual>
      <geometry>
        <cylinder length="0.15" radius="0.06"/>
      </geometry>
      <origin xyz="0 0 0.075"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.15" radius="0.06"/>
      </geometry>
      <origin xyz="0 0 0.075"/>
    </collision>
  </link>

  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0 -0.11 0.15" rpy="0 1.5708 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" velocity="1.0" lower="-6.28" upper="6.28"/>
  </joint>

  <link name="link2">
    <visual>
      <geometry>
        <cylinder length="0.3065" radius="0.05"/>
      </geometry>
      <origin xyz="0 0 0.15325"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.3065" radius="0.05"/>
      </geometry>
      <origin xyz="0 0 0.15325"/>
    </collision>
  </link>

  <joint name="elbow_joint" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0 0.095 0.3065"/>
    <axis xyz="0 1 0"/>
    <limit effort="100" velocity="1.0" lower="-6.28" upper="6.28"/>
  </joint>

  <link name="link3">
    <visual>
      <geometry>
        <cylinder length="0.571" radius="0.045"/>
      </geometry>
      <origin xyz="0 0 0.2855"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.571" radius="0.045"/>
      </geometry>
      <origin xyz="0 0 0.2855"/>
    </collision>
  </link>

  <joint name="wrist_1_joint" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0 -0.08 0.571"/>
    <axis xyz="0 1 0"/>
    <limit effort="50" velocity="1.0" lower="-6.28" upper="6.28"/>
  </joint>

  <link name="link4">
    <visual>
      <geometry>
        <cylinder length="0.174" radius="0.04"/>
      </geometry>
      <origin xyz="0 0 0.087"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.174" radius="0.04"/>
      </geometry>
      <origin xyz="0 0 0.087"/>
    </collision>
  </link>

  <joint name="wrist_2_joint" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0 0 0.174"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" velocity="1.0" lower="-6.28" upper="6.28"/>
  </joint>

  <link name="link5">
    <visual>
      <geometry>
        <cylinder length="0.120" radius="0.035"/>
      </geometry>
      <origin xyz="0 0.06 0" rpy="1.5708 0 0"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.120" radius="0.035"/>
      </geometry>
      <origin xyz="0 0.06 0" rpy="1.5708 0 0"/>
    </collision>
  </link>

  <joint name="wrist_3_joint" type="revolute">
    <parent link="link5"/>
    <child link="tool0"/>
    <origin xyz="0 0.120 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="50" velocity="1.0" lower="-6.28" upper="6.28"/>
  </joint>

  <link name="tool0">
    <visual>
      <geometry>
        <box size="0.04 0.02 0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 1.5708"/>
      <material name="grey"/>
    </visual>

    <collision>
      <geometry>
        <box size="0.04 0.02 0.02"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 1.5708"/>
    </collision>
  </link>

  <!-- ================================================= -->
  <!-- GRIPPER -->
  <!-- ================================================= -->

  <joint name="tool0_to_gripper" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_base_link"/>
    <origin xyz="0 0.03 0" rpy="-1.5708 0 0"/>
  </joint>

  <link name="gripper_base_link">
    <visual>
      <geometry>
        <box size="0.02 0.06 0.02"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <joint name="left_finger_joint" type="prismatic">
    <parent link="gripper_base_link"/>
    <child link="left_finger"/>
    <origin xyz="0 0.025 0"/>
    <axis xyz="0 -1 0"/>
    <limit lower="0.0" upper="0.02" effort="10" velocity="0.1"/>
  </joint>

  <link name="left_finger">
    <visual>
      <geometry>
        <box size="0.02 0.01 0.05"/>
      </geometry>
      <origin xyz="0 0 0.035"/>
      <material name="green"/>
    </visual>
  </link>

  <joint name="right_finger_joint" type="prismatic">
    <parent link="gripper_base_link"/>
    <child link="right_finger"/>
    <origin xyz="0 -0.025 0"/>
    <axis xyz="0 -1 0"/>
    <mimic joint="left_finger_joint" multiplier="-1.0"/>
    <limit lower="0.0" upper="0.02" effort="10" velocity="0.1"/>
  </joint>

  <link name="right_finger">
    <visual>
      <geometry>
        <box size="0.02 0.01 0.05"/>
      </geometry>
      <origin xyz="0 0 0.035"/>
      <material name="green"/>
    </visual>
  </link>

  <!-- ================================================= -->
  <!-- PLANT STEM -->
  <!-- ================================================= -->

  <joint name="world_to_plant" type="fixed">
    <parent link="world"/>
    <child link="plant_base"/>
    <origin xyz="0.45 -0.30 0.0"/>
  </joint>

  <link name="plant_base">
    <visual>
      <geometry>
        <cylinder length="1.35" radius="0.015"/>
      </geometry>
      <origin xyz="0 0 0.675"/>
      <material name="plant_green"/>
    </visual>

    <collision>
      <geometry>
        <cylinder length="1.35" radius="0.015"/>
      </geometry>
      <origin xyz="0 0 0.675"/>
    </collision>
  </link>

  <!-- ========================= -->
<!-- LEAVES — ANTICLOCKWISE   -->
<!-- matches Python program   -->
<!-- theta = START + i*angle  -->
<!-- ========================= -->

<!-- Leaf 0 -->
<joint name="leaf_0_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_0"/>
  <origin xyz="0.3950 -0.3000 0.2000" rpy="0 0 3.14159"/>
</joint>
<link name="leaf_0">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 1 -->
<joint name="leaf_1_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_1"/>
  <origin xyz="0.4910 -0.3380 0.2563" rpy="0 0 5.54142"/>
</joint>
<link name="leaf_1">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 2 -->
<joint name="leaf_2_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_2"/>
  <origin xyz="0.5042 -0.2615 0.3125" rpy="0 0 1.65806"/>
</joint>
<link name="leaf_2">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 3 -->
<joint name="leaf_3_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_3"/>
  <origin xyz="0.4399 -0.2478 0.3688" rpy="0 0 4.05789"/>
</joint>
<link name="leaf_3">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 4 -->
<joint name="leaf_4_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_4"/>
  <origin xyz="0.3967 -0.3126 0.4250" rpy="0 0 0.17453"/>
</joint>
<link name="leaf_4">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 5 -->
<joint name="leaf_5_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_5"/>
  <origin xyz="0.4803 -0.3345 0.4813" rpy="0 0 2.57436"/>
</joint>
<link name="leaf_5">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 6 -->
<joint name="leaf_6_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_6"/>
  <origin xyz="0.5050 -0.2672 0.5375" rpy="0 0 4.97419"/>
</joint>
<link name="leaf_6">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 7 -->
<joint name="leaf_7_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_7"/>
  <origin xyz="0.4438 -0.2487 0.5938" rpy="0 0 1.09083"/>
</joint>
<link name="leaf_7">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 8 -->
<joint name="leaf_8_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_8"/>
  <origin xyz="0.3959 -0.3104 0.6500" rpy="0 0 3.49066"/>
</joint>
<link name="leaf_8">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 9 -->
<joint name="leaf_9_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_9"/>
  <origin xyz="0.4773 -0.3329 0.7063" rpy="0 0 5.89049"/>
</joint>
<link name="leaf_9">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 10 -->
<joint name="leaf_10_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_10"/>
  <origin xyz="0.5053 -0.2725 0.7625" rpy="0 0 2.00713"/>
</joint>
<link name="leaf_10">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 11 -->
<joint name="leaf_11_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_11"/>
  <origin xyz="0.4474 -0.2498 0.8188" rpy="0 0 4.40714"/>
</joint>
<link name="leaf_11">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 12 -->
<joint name="leaf_12_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_12"/>
  <origin xyz="0.3951 -0.3082 0.8750" rpy="0 0 0.52360"/>
</joint>
<link name="leaf_12">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 13 -->
<joint name="leaf_13_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_13"/>
  <origin xyz="0.4744 -0.3312 0.9313" rpy="0 0 2.92343"/>
</joint>
<link name="leaf_13">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 14 -->
<joint name="leaf_14_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_14"/>
  <origin xyz="0.5054 -0.2779 0.9875" rpy="0 0 5.32325"/>
</joint>
<link name="leaf_14">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 15 -->
<joint name="leaf_15_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_15"/>
  <origin xyz="0.4510 -0.2510 1.0438" rpy="0 0 1.43990"/>
</joint>
<link name="leaf_15">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 16 -->
<joint name="leaf_16_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_16"/>
  <origin xyz="0.3944 -0.3059 1.1000" rpy="0 0 3.83972"/>
</joint>
<link name="leaf_16">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 17 -->
<joint name="leaf_17_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_17"/>
  <origin xyz="0.4716 -0.3295 1.1563" rpy="0 0 6.23955"/>
</joint>
<link name="leaf_17">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 18 -->
<joint name="leaf_18_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_18"/>
  <origin xyz="0.5052 -0.2832 1.2125" rpy="0 0 2.35619"/>
</joint>
<link name="leaf_18">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 19 -->
<joint name="leaf_19_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_19"/>
  <origin xyz="0.4544 -0.2523 1.2688" rpy="0 0 4.75602"/>
</joint>
<link name="leaf_19">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 20 -->
<joint name="leaf_20_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_20"/>
  <origin xyz="0.3937 -0.3037 1.3250" rpy="0 0 0.87266"/>
</joint>
<link name="leaf_20">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 21 -->
<joint name="leaf_21_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_21"/>
  <origin xyz="0.4688 -0.3278 1.3813" rpy="0 0 3.27249"/>
</joint>
<link name="leaf_21">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 22 -->
<joint name="leaf_22_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_22"/>
  <origin xyz="0.5048 -0.2885 1.4375" rpy="0 0 5.67232"/>
</joint>
<link name="leaf_22">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

<!-- Leaf 23 -->
<joint name="leaf_23_joint" type="fixed">
  <parent link="world"/>
  <child link="leaf_23"/>
  <origin xyz="0.4577 -0.2536 1.4938" rpy="0 0 1.78897"/>
</joint>
<link name="leaf_23">
  <visual>
    <geometry><box size="0.06 0.015 0.005"/></geometry>
    <material name="leaf"/>
  </visual>
</link>

</robot>